<%- include ('partials/header') -%>
<h2><%= blogpost.title%></h2>
<h2><%= blotpost.content%></h2>

<table>
    <tr>
        <td><img src="<%= blogpost.author.image>"><</td>
        <td><%= blogpost.author.name></td>
        <td><%= blogpost.author.status></td>
        <td><%= blogpost.author.contacts></td>
    </tr>
</table>